
.product-image {
    position: relative;
    height: 200px;
    max-width: 344px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 4.5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1.5rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
}


.main-container {
    display: inline;
    /*
      display: flex;
      flex-direction: row;
    */

}

.photo-container {
    height: 200px;
    max-width: 200px;


}

.quantity-input {
    width: 155px;
}


@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background-color: #fff;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
}

a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin: 0.75rem 0 0;
}

h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button {
    border: 0 none;
    outline: 0 none;
}

button {
    background-color: #666;
    color: #fff;
}

button:hover,
button:focus {
    background-color: #555;
}

img,
.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
    content: '$';
}

.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.basket,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    min-height: 550px;
    width: 70%;
}

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
    border: 1px solid #999;
}

.promo-code-cta {
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 0.625rem;
    padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
    content: '';
}

.item {
    width: 55%;
}

.price,
.quantity,
.subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    /*margin-top: 27%;*/
    margin-bottom: 1%;
    bottom: 1.125rem;
    float: right;
    /*position: absolute;*/

    right: 0;
    text-align: right;
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.remove button {
    margin-bottom: 1%;
    background-color: transparent;
    color: black;
    font-weight: bold;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    /*border-bottom: 1px solid #ccc;*/
    padding: 1rem 0;
    position: relative;
}



.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}


.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.650rem;
    padding: 2px;
    width: 3.75rem;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    font-size: 15px;
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {

    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
    background-color: black;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }

    .basket-labels {
        display: none;
    }

    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    .product-image {
        width: 40%;
    }

    .product-details {
        width: 60%;
    }

    .price,
    .subtotal {
        width: 33%;
    }

    .quantity {
        text-align: center;
        width: 34%;
    }

    .quantity-field {
        float: none;
    }

    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }

    .remove button {
        padding: 0;
    }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }

    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }

    .product-details {
        padding: 0 1rem;
    }
}


body {
    min-width: 500px;

    font-family: 'Raleway', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {

    background: black;
    width: auto;
    display: flex;
    justify-content: space-between;


}

.graphic-logo {
    margin: 0;
    width: 55%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.logotype {

    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.info {
    padding: 23px;
    display: flex;
    justify-content: flex-end;
}

.container-footer {
    padding: 0 10px 0 0;
    margin: 50px 0 0 0;
    background: black;
    height: 300px;
    color: white;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 300px 8px 300px;
    font-size: 14px;
    box-sizing: border-box;


}

.social_networkings {
    padding: 0;
    margin: 0;
    max-height: 250px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 600px) {
    .container-footer {
        padding: 8px;
    }

    .social_networkings {
        display: none;
    }

    .footer_second_column {
        display: none;
    }

    .footer_third_column {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container-footer {
        padding: 8px;
    }

    .footer_third_column {
        display: none;
    }

    .social_networkings {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .container-footer {
        padding: 8px;
    }
}

@media screen and (min-width: 75%) {
    .container-footer {
        padding: 8px 300px 8px 300px;
    }
}

footer {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

.container-footer ul, li {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

.footer_main_column ol {
    padding: 0;
}

.footer_first_column {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    min-width: 130px;
}

.footer_first_column ol {
    padding: 0;
}

.footer_second_column {
    min-width: 130px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer_second_column ol {
    padding: 0;
}

.footer_third_column {
    min-width: 150px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer_third_column ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.footer-columns {
    color: white;
}

p {
    font-size: 20px;
    font-style: oblique;
    font-family: inherit;
    font-weight: bold;

}

.item, .price, .quantity, .subtotal {
    font-size: 15px;
    color: black;
}


.continue-shopping {
    margin-top: 15px;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer{
    margin-top: 30px;
}