

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}




body {
  min-width: 500px;
  
  font-family: 'Raleway', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.logo{
 
  background: black;
  width: auto;
  display: flex;
  justify-content: space-between;
  
  
}
.graphic-logo{
  margin: 0;
  width: 55%;
  display: flex;
  justify-content:flex-end;
  box-sizing: border-box;
}

.logotype {
  
  padding: 5px ;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.info {
  padding: 23px;
  width: 190px;
  display: flex;
  justify-content: space-around;
}

.container-footer{
  padding: 0 10px 0 0;
  margin: 50px 0 0 0;
  background: black;
  height: 300px;
  color: white;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 8px 300px 8px 300px;
  font-size: 14px;
  box-sizing: border-box;
  
  
}

.social_networkings {
  padding: 0;
  margin: 0;
  max-height: 250px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 600px){
  .container-footer{
    padding: 8px;
  }
  .social_networkings{
    display: none;
  }
  
  .footer_second_column {
    display: none;
  }
  .footer_third_column {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .container-footer{
    padding: 8px;
  }
  .footer_third_column {
    display: none;
  }
  .social_networkings{
    display: none;
  }
}

@media screen and (max-width: 950px){
  .container-footer{
    padding: 8px;
  }
}

@media screen and (min-width:75%){
  .container-footer{
    padding: 8px 300px 8px 300px;
  }
}
footer{
  
  	margin: 0;
padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
text-decoration: none;
}
.container-footer ul, li{
 text-decoration: none;
  list-style: none;
	text-decoration: none;
  color: white;
}
h1 {
  font-size: 18px;
  font-weight: bold;
}
.footer_main_column ol{
  padding: 0;
}
.footer_first_column {  
  margin: 0;
	padding: 0;
  border: 0;
	font-size: 100%;
font: inherit;
	vertical-align: baseline;
 text-decoration: none;
  min-width: 130px;
}
.footer_first_column ol{
  padding: 0;
}
.footer_second_column {
  min-width: 130px;
  text-decoration: none;
  list-style: none;
	text-decoration: none;
  color: white;
}
.footer_second_column ol{
  padding: 0;
}
.footer_third_column {
  min-width: 150px;
  text-decoration: none;
  list-style: none;
	text-decoration: none;
  color: white;
}

.footer_third_column ol{
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}
.footer-columns{
  color: white;
}

p{
  font-size: 20px;
  font-style: oblique;
  font-family:inherit;
  font-weight: bold;
  
}